<div class="page page-table">
	<div class="row ui-section">
		<div class="col-lg-8 clearfix">
			<h2 class="section-header">
				{list_view_page_title}
				<md-button class="md-raised btn-w-md md-primary" data-ng-click="vm.add{model_name}();">
					<span class="fa fa-plus"></span> adicionar
				</md-button>
			</h2>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<section class="table-flip-scroll">
						<table class="table table-striped cf no-margin table-hover">
							<thead class="cf">
								<tr>
{grid_header}
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="{entity_name} in vm.{entity_plural_name}" data-ng-click="root.goTo('/admin/{entity_plural_name}/' + {entity_name}.id);">
{grid_rows}
								</tr>
							</tbody>
						</table>
					</section>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6">
								<span class="total-entries pagination">Foram encontrados <b>{{ vm.filter.totalItems }}</b> registros</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="vm.filter.p" total-items="vm.filter.totalItems" max-size="4" ng-change="vm.list{model_plural_name}()"
								 items-per-page="vm.filter.s" rotate="false" boundary-link-numbers="false" previous-text="Anterior" next-text="Próximo"></uib-pagination>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>