<div class="page page-form">
	<div class="row ui-section">
		<div class="col-lg-8 clearfix">
			<h2 class="section-header">Carro</h2>
		</div>
		<div class="col-md-12">
			<section class="panel panel-default">
				<div class="panel-body">
					<form name="vm.form" class="form-validation" novalidate>
						<div class="section-header">
							<h4>Detalhe</h4>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<section class="panel panel-default">
									<div class="panel-body padding-vertical">
										<div class="form-group col-lg-12">
        									<label for="name">Car</label>
        									<input type="text" id="name" name="name" required class="form-control" data-ng-model="vm.car.name">
        									<div ng-messages="vm.form.name.$error" multiple ng-if="vm.form.$submitted || vm.form.name.$dirty">
        										<div ng-message="required">Campo obrigatório</div>
        									</div>
        								</div>
										<div class="form-group col-lg-12">
        									<label for="model">Car</label>
        									<input type="text" id="model" name="model" required class="form-control" data-ng-model="vm.car.model">
        									<div ng-messages="vm.form.model.$error" multiple ng-if="vm.form.$submitted || vm.form.model.$dirty">
        										<div ng-message="required">Campo obrigatório</div>
        									</div>
        								</div>

									</div>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-12">
								<md-button class="md-raised btn-w-md md-primary" data-ng-click="vm.saveCar()">
									<span class="fa fa-pencil"></span> {{ vm.actionButtonLabel }}
								</md-button>
								<md-button class="md-raised btn-w-md md-primary" data-ng-hide="vm.operation === 'add'" data-ng-click="vm.deleteCar()">
									<span class="fa fa-trash"></span> Excluir
								</md-button>
								<md-button class="md-raised btn-w-md md-primary" data-ng-click="vm.cancel()">
									<span class="fa fa-close"></span> Cancelar
								</md-button>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>